In [1]:
import sys
sys.path.append('..')
from FundamentsStockBrazil import (DreDataScraper,
                                   TabelaResumoDataScraper,
                                   CapexDataScraper, 
                                   RetornosMargensDataScraper, 
                                   PrecosRelativosDataScraper, 
                                   FluxoCaixaDataScraper,
                                   SetorDataScraper)
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options



setor_financeiro = {'BBAS3', 'BBDC3', 'BBDC4', 'ITUB4', 'BPAC11', 'ITUB4', 'SANB11', 'IRBR3'}


chrome_driver_path = "/usr/bin/chromedriver"

service = Service(executable_path=chrome_driver_path)

options = Options()
options.add_argument("--headless")  # Executar em modo headless
options.add_argument("--no-sandbox")
options.add_argument("--disable-dev-shm-usage")
options.add_argument("--disable-dev-shm-usage")  # Reduz o uso de memória
options.add_argument("--disable-gpu")  # Desativar o uso de GPU
options.add_argument("--window-size=1920,1080")  # Definir o tamanho da janela

options.add_argument("--disable-extensions")  # Desativa extensões
options.add_argument("--disable-popup-blocking")  # Desativa bloqueio de pop-ups
options.add_argument("--disable-infobars")  # Desativa a barra de informações

In [2]:
codigos_ibovespa = ['ABEV3', 'AZUL4', 'B3SA3']
scraper = DreDataScraper(setor_financeiro, options, service, acoes=codigos_ibovespa, diretorio='../dados/dre.csv')

dados = scraper.rodar_acoes()

dados

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação ABEV3: 0.33 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação AZUL4: 0.21 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação B3SA3: 0.44 minutos

,receita_liquida,resultado_bruto,ebit,amortizacao,ebitda,lucro_liquido,lucro_por_acao,datas,tic
0,22100.00,11120.00,5350.00,-1660.0,7020.0,3460.00,0.22,30/09/2024,ABEV3
1,20040.00,9980.00,4050.00,-1620.0,5660.0,2400.00,0.15,30/06/2024,ABEV3
2,20280.00,10220.00,4880.00,-1570.0,6450.0,3700.00,0.23,31/03/2024,ABEV3
3,19990.00,10690.00,5430.00,-1400.0,6820.0,4390.00,0.28,31/12/2023,ABEV3
4,20320.00,10090.00,4900.00,-1590.0,6480.0,3910.00,0.25,30/09/2023,ABEV3
...,...,...,...,...,...,...,...,...,...
61,378.24,378.24,250.04,NaN,NaN,188.13,0.09,30/06/2009,B3SA3
62,316.55,316.55,167.79,NaN,NaN,226.98,0.11,31/03/2009,B3SA3
63,370.44,370.44,69.50,NaN,NaN,115.39,0.06,31/12/2008,B3SA3
64,370.44,370.44,69.50,NaN,NaN,115.39,0.06,30/09/2008,B3SA3
65,404.68,404.68,97.46,NaN,NaN,200.97,0.10,30/06/2008,B3SA3

In [3]:
codigos_ibovespa = ['ABEV3', 'AZUL4', 'B3SA3']

scraper = TabelaResumoDataScraper(setor_financeiro, options, service, acoes=codigos_ibovespa, diretorio='../dados/dre.csv')

dados = scraper.rodar_acoes()

dados

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação ABEV3: 0.50 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação AZUL4: 0.30 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação B3SA3: 0.66 minutos

,caixa_equivalentes_caixa,ativo_total,divida_curto_prazo,divida_longo_prazo,divida_bruta,divida_liquida,patrimonio_liquido,valor_patrimonial_acao,acoes_ordinarias,acoes_preferenciais,total,datas,tic
0,19780.0,147290.0,1210.00,2170.00,3380.00,-16400.0,98140.0,6.23,15.757.657.000,0,15.757.657.000,30/09/2024,ABEV3
1,14150.0,143440.0,1240.00,2210.00,3460.00,-10700.0,95260.0,6.05,15.757.657.000,0,15.757.657.000,30/06/2024,ABEV3
2,12840.0,133820.0,1650.00,2170.00,3820.00,-9030.0,86590.0,5.50,15.757.657.000,0,15.757.657.000,31/03/2024,ABEV3
3,16060.0,132640.0,1300.00,2200.00,3500.00,-12560.0,78970.0,5.01,15.753.833.000,0,15.753.833.000,31/12/2023,ABEV3
4,17410.0,137910.0,1240.00,2480.00,3720.00,-13700.0,90250.0,5.73,15.753.833.000,0,15.753.833.000,30/09/2023,ABEV3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,2340.0,20940.0,8.22,8.23,16.45,-2320.0,19560.0,9.57,2.044.014.295,0,2.044.014.295,30/06/2009,B3SA3
62,2590.0,21200.0,3.57,NaN,3.57,-2590.0,19460.0,9.52,2.044.014.295,0,2.044.014.295,31/03/2009,B3SA3
63,1780.0,20430.0,4.09,NaN,4.09,-1780.0,19290.0,9.44,2.044.014.295,0,2.044.014.295,31/12/2008,B3SA3
64,2060.0,20750.0,148.24,NaN,148.24,-1910.0,19530.0,9.56,2.044.014.295,0,2.044.014.295,30/09/2008,B3SA3
65,2800.0,21270.0,502.73,NaN,502.73,-2300.0,19630.0,9.62,2.040.797.995,0,2.040.797.995,30/06/2008,B3SA3

In [4]:
codigos_ibovespa = ['ABEV3', 'AZUL4', 'B3SA3']

scraper = CapexDataScraper(setor_financeiro, options, service, acoes=codigos_ibovespa, diretorio='../dados/dre.csv')

dados = scraper.rodar_acoes()

dados

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação ABEV3: 0.18 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação AZUL4: 0.11 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação B3SA3: 0.19 minutos

,capex_tres_meses,fluxo_caixa_livre_tres_meses,capex_doze_meses,fluxo_caixa_livre_doze_meses,datas,tic
0,-1160.00,6950.00,-5310.00,20820.0,30/09/2024,ABEV3
1,-1160.00,6950.00,-5310.00,20820.0,30/06/2024,ABEV3
2,-979.68,-261.48,-5700.00,20310.0,31/03/2024,ABEV3
3,-979.68,-261.48,-5700.00,20310.0,31/12/2023,ABEV3
4,-979.68,-261.48,-5700.00,20310.0,30/09/2023,ABEV3
...,...,...,...,...,...,...
50,-10.42,272.08,-35.29,1330.0,31/03/2012,B3SA3
51,-2.57,218.06,-37.57,1570.0,31/12/2011,B3SA3
52,-11.40,252.89,-41.04,1640.0,30/09/2011,B3SA3
53,-10.90,584.01,-119.12,1970.0,30/06/2011,B3SA3
54,-12.70,519.22,-121.18,1800.0,31/03/2011,B3SA3

In [5]:
codigos_ibovespa = ['ABEV3', 'AZUL4', 'B3SA3']

scraper = RetornosMargensDataScraper(setor_financeiro, options, service, acoes=codigos_ibovespa, diretorio='../dados/dre.csv')

dados = scraper.rodar_acoes()

dados

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação ABEV3: 0.42 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação AZUL4: 0.28 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação B3SA3: 0.59 minutos

,retorno_sobre_capital_tangivel_inicial,retorno_sobre_capital_investido_inicial,retorno_sobre_capital_tangivel_inicial_pre_impostos,retorno_sobre_capital_investido_inicial_pre_impostos,retorno_sobre_patrimonio_liquido_inicial,retorno_sobre_ativo_inicial,margem_bruta,margem_liquida,margem_ebit,margem_ebitda,giro_do_ativo_inicial,alavancagem_financeira,passivo_patrimonio_liquido,divida_liquida_ebitda,datas,tic
0,0.3365,0.1699,0.5098,0.2574,0.1545,0.1011,0.5098,0.1692,0.2392,0.3149,0.60,1.50,0.50,-0.63,30/09/2024,ABEV3
1,0.3184,0.1651,0.4824,0.2502,0.1692,0.1080,0.5083,0.1785,0.2388,0.3153,0.60,1.51,0.51,-0.42,30/06/2024,ABEV3
2,0.3130,0.1608,0.4743,0.2436,0.1706,0.1071,0.5066,0.1825,0.2347,0.3117,0.59,1.55,0.55,-0.36,31/03/2024,ABEV3
3,0.3656,0.1738,0.5540,0.2634,0.1769,0.1051,0.5072,0.1819,0.2338,0.3093,0.58,1.68,0.68,-0.51,31/12/2023,ABEV3
4,0.3126,0.1629,0.4736,0.2469,0.1672,0.1062,0.5030,0.1829,0.2259,0.2999,0.58,1.53,0.53,-0.55,30/09/2023,ABEV3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,0.3432,0.0228,0.5199,0.0345,0.0380,0.0350,1.0000,0.5114,0.4109,NaN,0.07,1.07,0.07,NA,30/06/2009,B3SA3
62,0.4137,0.0275,0.6268,0.0416,0.0445,0.0410,1.0000,0.4548,0.3762,NaN,0.09,1.09,0.09,NA,31/03/2009,B3SA3
63,NaN,NaN,NaN,NaN,NaN,NaN,1.0000,0.4030,0.3458,NaN,NA,1.06,0.06,NA,31/12/2008,B3SA3
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NA,1.06,0.06,NA,30/09/2008,B3SA3
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NA,1.08,0.08,NA,30/06/2008,B3SA3

In [6]:
codigos_ibovespa = ['ABEV3', 'AZUL4', 'B3SA3']

scraper = PrecosRelativosDataScraper(setor_financeiro, options, service, acoes=codigos_ibovespa, diretorio='../dados/dre.csv')

dados = scraper.rodar_acoes()

dados

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação ABEV3: 0.61 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação AZUL4: 0.38 minutos
Tempo de execução da ação B3SA3: 0.86 minutos

,preço_lucro,preço_vpa,preço_receita_líquida,preço_fco,preço_fcf,preço_ativo_total,preço_ebit,preço_capital_giro,preço_ncav,ev_ebit,ev_ebitda,ev_receita_líquida,ev_fco,ev_fcf,ev_ativo_total,market_cap_empresa,enterprise_value,dividend_yield,datas,tic
0,12.76,1.81,2.16,6.81,8.55,1.21,9.03,25.42,-4.22,8.19,6.22,1.96,6.18,7.76,1.10,177900.0,161500.0,0.0591,06/01/2025,ABEV3
1,14.28,2.03,2.42,7.62,9.57,1.35,10.11,28.45,-4.73,9.27,7.04,2.22,6.99,8.78,1.24,199180.0,182770.0,0.0578,30/09/2024,ABEV3
2,12.85,1.94,2.29,7.13,9.01,1.29,9.61,50.02,-4.16,9.05,6.86,2.16,6.72,8.49,1.22,184990.0,174300.0,0.0622,30/06/2024,ABEV3
3,13.22,2.21,2.41,7.37,9.44,1.43,10.28,-809.80,-4.04,9.80,7.38,2.30,7.03,9.00,1.37,191770.0,182740.0,0.0600,31/03/2024,ABEV3
4,13.67,2.51,2.49,8.02,10.51,1.49,10.63,-44.62,-3.41,9.96,7.53,2.33,7.51,9.84,1.40,198180.0,185630.0,0.0580,31/12/2023,ABEV3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,70.40,2.68,36.01,33.08,34.12,2.51,87.62,38.74,-2.138.78,83.74,NA,34.41,31.62,32.61,2.39,52450.0,50130.0,0.0176,30/06/2009,B3SA3
63,60.11,2.69,27.34,25.94,26.67,2.47,72.67,46.12,-86.97,69.09,NA,25.99,24.66,25.36,2.35,52450.0,49860.0,0.0176,31/03/2009,B3SA3
64,81.24,2.72,32.74,26.84,27.53,2.57,94.69,58.95,-210.94,91.47,NA,31.63,25.93,26.59,2.48,52450.0,50670.0,0.0176,31/12/2008,B3SA3
65,NA,2.69,NA,NA,NA,2.53,NA,40.42,688.87,NA,NA,NA,NA,NA,2.44,52450.0,50540.0,0.0176,30/09/2008,B3SA3
66,NA,2.67,NA,NA,NA,2.46,NA,33.22,-770.99,NA,NA,NA,NA,NA,2.35,52370.0,50070.0,0.0176,30/06/2008,B3SA3

In [7]:
codigos_ibovespa = ['ABEV3', 'AZUL4', 'B3SA3']

scraper = FluxoCaixaDataScraper(setor_financeiro, options, service, acoes=codigos_ibovespa, diretorio='../dados/dre.csv')

dados = scraper.rodar_acoes()

dados

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação ABEV3: 0.18 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação AZUL4: 0.11 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação B3SA3: 0.22 minutos

,fluxo_caixa_operacional,fluxo_caixa_investimentos,fluxo_caixa_financiamento,aumento_reducao_caixa_equivalentes,datas,tic
0,8110.00,-1130.00,-1090.00,5630.00,30/09/2024,ABEV3
1,3360.00,-1080.00,-1700.00,1310.00,30/06/2024,ABEV3
2,718.20,-1780.00,-2300.00,-3210.00,31/03/2024,ABEV3
3,718.20,-1780.00,-2300.00,-3210.00,31/12/2023,ABEV3
4,7920.00,-1210.00,-1400.00,5400.00,30/09/2023,ABEV3
...,...,...,...,...,...,...
50,282.50,-29.59,-240.18,12.73,31/03/2012,B3SA3
51,220.63,6.24,-257.18,-30.32,31/12/2011,B3SA3
52,264.29,-85.92,-253.19,-74.83,30/09/2011,B3SA3
53,594.91,-33.02,-447.52,114.38,30/06/2011,B3SA3
54,531.92,-36.01,-506.23,-10.32,31/03/2011,B3SA3

In [8]:
codigos_ibovespa = ['ABEV3', 'AZUL4', 'B3SA3']

scraper = SetorDataScraper(setor_financeiro, options, service, acoes=codigos_ibovespa)

dados = scraper.rodar_acoes()

dados

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação ABEV3: 0.01 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação AZUL4: 0.01 minutos
Tempo de execução da ação B3SA3: 0.01 minutos

,Segmento de Listagem,Setor,Segmento,tic
0,Tradicional - BOVESPA,Consumo não Cíclico,Cervejas e Refrigerantes,ABEV3
1,Nível 2 de Governança Corporativa,Bens Industriais,Transporte Aéreo,AZUL4
2,Novo Mercado,Financeiro,Serviços Financeiros Diversos,B3SA3