In [8]:
import sys
sys.path.append('..')
from FundamentsStockBrazil.RelativePrices import PrecosRelativosDataScraper
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options

codigos_ibovespa = ['ABEV3', 'AZUL4', 'B3SA3']

setor_financeiro = {'BBAS3', 'BBDC3', 'BBDC4', 'BBSE3', 'ITUB4', 'BPAC11', 'ITUB4', 'SANB11', 'IRBR3'}

chrome_driver_path = "/usr/bin/chromedriver"

service = Service(executable_path=chrome_driver_path)

options = Options()
options.add_argument("--headless")  # Executar em modo headless
options.add_argument("--no-sandbox")
options.add_argument("--disable-dev-shm-usage")
options.add_argument("--disable-dev-shm-usage")  # Reduz o uso de memória
options.add_argument("--disable-gpu")  # Desativar o uso de GPU
options.add_argument("--window-size=1920,1080")  # Definir o tamanho da janela

scraper = PrecosRelativosDataScraper(setor_financeiro, options, service, acoes=codigos_ibovespa, diretorio='../dados/precos_relativos.csv')

dados = scraper.rodar_acoes()

Tempo de execução da ação ABEV3: 1.14 minutos
Tempo de execução da ação AZUL4: 0.74 minutos
Tempo de execução da ação B3SA3: 1.52 minutos

In [9]:
dados

,datas,preco_lucro,preco_vpa,preco_receita_liquida,preco_fco,preco_fcf,preco_ativo_total,preco_ebit,preco_capital_giro,preco_ncav,ev_ebit,ev_ebitda,ev_receita_liquida,ev_fco,ev_fcf,ev_atito_total,market_cap_empresa,enterprise_value,dividend_yield,tic
0,02/08/2024,12.99,1.96,2.32,7.21,9.11,1.30,9.71,50.58,-4.21,9.16,6.94,2.19,6.80,8.59,1.23,187040.0,176350.0,0.0615,ABEV3
1,30/06/2024,12.85,1.94,2.29,7.13,9.01,1.29,9.61,50.02,-4.16,9.05,6.86,2.16,6.72,8.49,1.22,184990.0,174300.0,0.0622,ABEV3
2,31/03/2024,13.22,2.21,2.41,7.37,9.44,1.43,10.28,-809.80,-4.04,9.80,7.38,2.30,7.03,9.00,1.37,191770.0,182740.0,0.0600,ABEV3
3,31/12/2023,13.67,2.51,2.49,8.02,10.51,1.49,10.63,-44.62,-3.41,9.96,7.53,2.33,7.51,9.84,1.40,198180.0,185630.0,0.0580,ABEV3
4,30/09/2023,13.43,2.24,2.46,8.97,11.97,1.47,10.88,54.65,-4.61,10.14,7.64,2.29,8.37,11.16,1.37,202590.0,188900.0,0.0593,ABEV3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,30/06/2009,70.40,2.68,36.01,33.08,34.12,2.51,87.62,38.74,-2.138.78,83.74,NA,34.41,31.62,32.61,2.39,52450.0,50130.0,0.0176,B3SA3
61,31/03/2009,60.11,2.69,27.34,25.94,26.67,2.47,72.67,46.12,-86.97,69.09,NA,25.99,24.66,25.36,2.35,52450.0,49860.0,0.0176,B3SA3
62,31/12/2008,81.24,2.72,32.74,26.84,27.53,2.57,94.69,58.95,-210.94,91.47,NA,31.63,25.93,26.59,2.48,52450.0,50670.0,0.0176,B3SA3
63,30/09/2008,NA,2.69,NA,NA,NA,2.53,NA,40.42,688.87,NA,NA,NA,NA,NA,2.44,52450.0,50540.0,0.0176,B3SA3
64,30/06/2008,NA,2.67,NA,NA,NA,2.46,NA,33.22,-770.99,NA,NA,NA,NA,NA,2.35,52370.0,50070.0,0.0176,B3SA3