In [6]:
import sys
import sys
sys.path.append('..')
from FundamentsStockBrazil.CapitalExpenditure import CapexDataScraper
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options

# Lê os códigos das ações do Ibovespa a partir de um arquivo
codigos_ibovespa = ['ABEV3', 'AZUL4', 'B3SA3']

# Define o setor financeiro
setor_financeiro = {'BBAS3', 'BBDC3', 'BBDC4', 'BBSE3', 'ITUB4', 'BPAC11', 'SANB11', 'IRBR3'}

# Caminho para o driver do Chrome
chrome_driver_path = "/usr/bin/chromedriver"

# Configuração do serviço do Chrome
service = Service(executable_path=chrome_driver_path)

# Configurações do Chrome
options = Options()
options.add_argument("--headless")  # Executar em modo headless
options.add_argument("--no-sandbox")
options.add_argument("--disable-dev-shm-usage")  # Reduz o uso de memória
options.add_argument("--disable-gpu")  # Desativar o uso de GPU
options.add_argument("--window-size=1920,1080")  # Definir o tamanho da janela

# Inicializa o scraper
scraper = CapexDataScraper(setor_financeiro, options, service, acoes=codigos_ibovespa, diretorio='../dados/capex.csv')

# Executa a coleta de dados
dados = scraper.rodar_acoes()

In [4]:
dados

,datas,receita_liquida,resultado_bruto,ebit,depreciacao_amortizacao,ebitda,lucro_liquido,lucro_por_acao,tic
0,30/06/2024,20040.00,9980.00,4050.00,-1620.0,5660.0,2400.00,0.15,ABEV3
1,31/03/2024,20280.00,10220.00,4880.00,-1570.0,6450.0,3700.00,0.23,ABEV3
2,31/12/2023,19990.00,10690.00,5430.00,-1400.0,6820.0,4390.00,0.28,ABEV3
3,30/09/2023,20320.00,10090.00,4900.00,-1590.0,6480.0,3910.00,0.25,ABEV3
4,30/06/2023,18900.00,9260.00,3450.00,-1580.0,5020.0,2500.00,0.16,ABEV3
...,...,...,...,...,...,...,...,...,...
59,30/06/2009,378.24,378.24,250.04,NaN,NaN,188.13,0.09,B3SA3
60,31/03/2009,316.55,316.55,167.79,NaN,NaN,226.98,0.11,B3SA3
61,31/12/2008,370.44,370.44,69.50,NaN,NaN,115.39,0.06,B3SA3
62,30/09/2008,404.68,404.68,97.46,NaN,NaN,200.97,0.10,B3SA3
63,30/06/2008,826.90,826.90,386.98,NaN,NaN,329.24,0.16,B3SA3