In [1]:
import sys
sys.path.append('..')
from FundamentsStockBrazil import (DreDataScraper,
                                   TabelaResumoDataScraper,
                                   CapexDataScraper, 
                                   RetornosMargensDataScraper, 
                                   PrecosRelativosDataScraper, 
                                   FluxoCaixaDataScraper,
                                   SetorDataScraper)
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options



setor_financeiro = {'BBAS3', 'BBDC3', 'BBDC4', 'ITUB4', 'BPAC11', 'ITUB4', 'SANB11', 'IRBR3'}


chrome_driver_path = "/usr/bin/chromedriver"

service = Service(executable_path=chrome_driver_path)

options = Options()
options.add_argument("--headless")  # Executar em modo headless
options.add_argument("--no-sandbox")
options.add_argument("--disable-dev-shm-usage")
options.add_argument("--disable-dev-shm-usage")  # Reduz o uso de memória
options.add_argument("--disable-gpu")  # Desativar o uso de GPU
options.add_argument("--window-size=1920,1080")  # Definir o tamanho da janela

options.add_argument("--disable-extensions")  # Desativa extensões
options.add_argument("--disable-popup-blocking")  # Desativa bloqueio de pop-ups
options.add_argument("--disable-infobars")  # Desativa a barra de informações

In [2]:
codigos_ibovespa = ['ABEV3', 'AZUL4', 'B3SA3']
scraper = DreDataScraper(setor_financeiro, options, acoes=codigos_ibovespa, diretorio='../dados/dre.csv')

dados = scraper.rodar_acoes()

dados

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação ABEV3: 2.18 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação AZUL4: 1.45 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação B3SA3: 3.00 minutos

,receita_liquida,resultado_bruto,ebit,amortizacao,ebitda,lucro_liquido,lucro_por_acao,datas,tic
0,22100.00,11120.00,5350.00,-1660.0,7020.0,3460.00,0.22,30/09/2024,ABEV3
1,20040.00,9980.00,4050.00,-1620.0,5660.0,2400.00,0.15,30/06/2024,ABEV3
2,20280.00,10220.00,4880.00,-1570.0,6450.0,3700.00,0.23,31/03/2024,ABEV3
3,19990.00,10690.00,5430.00,-1400.0,6820.0,4390.00,0.28,31/12/2023,ABEV3
4,20320.00,10090.00,4900.00,-1590.0,6480.0,3910.00,0.25,30/09/2023,ABEV3
...,...,...,...,...,...,...,...,...,...
61,378.24,378.24,250.04,NaN,NaN,188.13,0.09,30/06/2009,B3SA3
62,316.55,316.55,167.79,NaN,NaN,226.98,0.11,31/03/2009,B3SA3
63,370.44,370.44,69.50,NaN,NaN,115.39,0.06,31/12/2008,B3SA3
64,404.68,404.68,97.46,NaN,NaN,200.97,0.10,30/09/2008,B3SA3
65,826.90,826.90,386.98,NaN,NaN,329.24,0.16,30/06/2008,B3SA3

In [4]:
codigos_ibovespa = ['ABEV3', 'AZUL4', 'B3SA3']

scraper = TabelaResumoDataScraper(setor_financeiro, options, acoes=codigos_ibovespa, diretorio='../dados/dre.csv')

dados = scraper.rodar_acoes()

dados

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação ABEV3: 2.76 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação AZUL4: 1.84 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação B3SA3: 3.79 minutos

,caixa_equivalentes_caixa,ativo_total,divida_curto_prazo,divida_longo_prazo,divida_bruta,divida_liquida,patrimonio_liquido,valor_patrimonial_acao,acoes_ordinarias,acoes_preferenciais,total,datas,tic
0,19780.0,147290.0,1210.00,2170.00,3380.00,-16400.0,98140.0,6.23,15.757.657.000,0,15.757.657.000,30/09/2024,ABEV3
1,14150.0,143440.0,1240.00,2210.00,3460.00,-10700.0,95260.0,6.05,15.757.657.000,0,15.757.657.000,30/06/2024,ABEV3
2,12840.0,133820.0,1650.00,2170.00,3820.00,-9030.0,86590.0,5.50,15.757.657.000,0,15.757.657.000,31/03/2024,ABEV3
3,16060.0,132640.0,1300.00,2200.00,3500.00,-12560.0,78970.0,5.01,15.753.833.000,0,15.753.833.000,31/12/2023,ABEV3
4,17410.0,137910.0,1240.00,2480.00,3720.00,-13700.0,90250.0,5.73,15.753.833.000,0,15.753.833.000,30/09/2023,ABEV3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,2340.0,20940.0,8.22,8.23,16.45,-2320.0,19560.0,9.57,2.044.014.295,0,2.044.014.295,30/06/2009,B3SA3
62,2590.0,21200.0,3.57,NaN,3.57,-2590.0,19460.0,9.52,2.044.014.295,0,2.044.014.295,31/03/2009,B3SA3
63,1780.0,20430.0,4.09,NaN,4.09,-1780.0,19290.0,9.44,2.044.014.295,0,2.044.014.295,31/12/2008,B3SA3
64,2060.0,20750.0,148.24,NaN,148.24,-1910.0,19530.0,9.56,2.044.014.295,0,2.044.014.295,30/09/2008,B3SA3
65,2800.0,21270.0,502.73,NaN,502.73,-2300.0,19630.0,9.62,2.040.797.995,0,2.040.797.995,30/06/2008,B3SA3

In [5]:
codigos_ibovespa = ['ABEV3', 'AZUL4', 'B3SA3']

scraper = CapexDataScraper(setor_financeiro, options, acoes=codigos_ibovespa, diretorio='../dados/dre.csv')

dados = scraper.rodar_acoes()

dados

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação ABEV3: 2.15 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação AZUL4: 1.43 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação B3SA3: 2.45 minutos

,capex_tres_meses,fluxo_caixa_livre_tres_meses,capex_doze_meses,fluxo_caixa_livre_doze_meses,datas,tic
0,-1160.00,6950.00,-5310.00,20820.0,30/09/2024,ABEV3
1,-973.35,2380.00,-5410.00,20540.0,30/06/2024,ABEV3
2,-979.68,-261.48,-5700.00,20310.0,31/03/2024,ABEV3
3,-2200.00,11750.00,-5850.00,18860.0,31/12/2023,ABEV3
4,-1260.00,6670.00,-5650.00,16930.0,30/09/2023,ABEV3
...,...,...,...,...,...,...
50,-2.57,218.06,-37.57,1570.0,31/03/2012,B3SA3
51,-11.40,252.89,-41.04,1640.0,31/12/2011,B3SA3
52,-10.90,584.01,-119.12,1970.0,30/09/2011,B3SA3
53,-12.70,519.22,-121.18,1800.0,30/06/2011,B3SA3
54,-6.04,287.16,-148.67,1790.0,31/03/2011,B3SA3

In [6]:
codigos_ibovespa = ['ABEV3', 'AZUL4', 'B3SA3']

scraper = RetornosMargensDataScraper(setor_financeiro, options, acoes=codigos_ibovespa, diretorio='../dados/dre.csv')

dados = scraper.rodar_acoes()

dados

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação ABEV3: 2.31 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação AZUL4: 1.53 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação B3SA3: 3.16 minutos

,retorno_sobre_capital_tangivel_inicial,retorno_sobre_capital_investido_inicial,retorno_sobre_capital_tangivel_inicial_pre_impostos,retorno_sobre_capital_investido_inicial_pre_impostos,retorno_sobre_patrimonio_liquido_inicial,retorno_sobre_ativo_inicial,margem_bruta,margem_liquida,margem_ebit,margem_ebitda,giro_do_ativo_inicial,alavancagem_financeira,passivo_patrimonio_liquido,divida_liquida_ebitda,datas,tic
0,0.336,0.170,0.510,0.257,0.154,0.101,0.510,0.169,0.239,0.315,0.60,1.50,0.50,-0.63,30/09/2024,ABEV3
1,0.318,0.165,0.482,0.250,0.169,0.108,0.508,0.179,0.239,0.315,0.60,1.51,0.51,-0.42,30/06/2024,ABEV3
2,0.313,0.161,0.474,0.244,0.171,0.107,0.507,0.182,0.235,0.312,0.59,1.55,0.55,-0.36,31/03/2024,ABEV3
3,0.366,0.174,0.554,0.263,0.177,0.105,0.507,0.182,0.234,0.309,0.58,1.68,0.68,-0.51,31/12/2023,ABEV3
4,0.313,0.163,0.474,0.247,0.167,0.106,0.503,0.183,0.226,0.300,0.58,1.53,0.53,-0.55,30/09/2023,ABEV3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,0.343,0.023,0.520,0.034,0.038,0.035,1.000,0.511,0.411,NaN,0.07,1.07,0.07,NA,30/06/2009,B3SA3
62,0.414,0.028,0.627,0.042,0.045,0.041,1.000,0.455,0.376,NaN,0.09,1.09,0.09,NA,31/03/2009,B3SA3
63,NaN,NaN,NaN,NaN,NaN,NaN,1.000,0.403,0.346,NaN,NA,1.06,0.06,NA,31/12/2008,B3SA3
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NA,1.06,0.06,NA,30/09/2008,B3SA3
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NA,1.08,0.08,NA,30/06/2008,B3SA3

In [7]:
codigos_ibovespa = ['ABEV3', 'AZUL4', 'B3SA3']

scraper = PrecosRelativosDataScraper(setor_financeiro, options, acoes=codigos_ibovespa, diretorio='../dados/dre.csv')

dados = scraper.rodar_acoes()

dados

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação ABEV3: 2.47 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação AZUL4: 1.67 minutos
Tempo de execução da ação B3SA3: 3.40 minutos

,preço_lucro,preço_vpa,preço_receita_líquida,preço_fco,preço_fcf,preço_ativo_total,preço_ebit,preço_capital_giro,preço_ncav,ev_ebit,ev_ebitda,ev_receita_líquida,ev_fco,ev_fcf,ev_ativo_total,market_cap_empresa,enterprise_value,dividend_yield,datas,tic
0,13.04,1.85,2.21,6.96,8.73,1.23,9.23,25.98,-4.31,8.39,6.37,2.01,6.33,7.95,1.12,181840.0,165440.0,0.0579,07/01/2025,ABEV3
1,14.28,2.03,2.42,7.62,9.57,1.35,10.11,28.45,-4.73,9.27,7.04,2.22,6.99,8.78,1.24,199180.0,182770.0,0.0578,30/09/2024,ABEV3
2,12.85,1.94,2.29,7.13,9.01,1.29,9.61,50.02,-4.16,9.05,6.86,2.16,6.72,8.49,1.22,184990.0,174300.0,0.0622,30/06/2024,ABEV3
3,13.22,2.21,2.41,7.37,9.44,1.43,10.28,-809.80,-4.04,9.80,7.38,2.30,7.03,9.00,1.37,191770.0,182740.0,0.0600,31/03/2024,ABEV3
4,13.67,2.51,2.49,8.02,10.51,1.49,10.63,-44.62,-3.41,9.96,7.53,2.33,7.51,9.84,1.40,198180.0,185630.0,0.0580,31/12/2023,ABEV3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,70.40,2.68,36.01,33.08,34.12,2.51,87.62,38.74,-2.138.78,83.74,NA,34.41,31.62,32.61,2.39,52450.0,50130.0,0.0176,30/06/2009,B3SA3
63,60.11,2.69,27.34,25.94,26.67,2.47,72.67,46.12,-86.97,69.09,NA,25.99,24.66,25.36,2.35,52450.0,49860.0,0.0176,31/03/2009,B3SA3
64,81.24,2.72,32.74,26.84,27.53,2.57,94.69,58.95,-210.94,91.47,NA,31.63,25.93,26.59,2.48,52450.0,50670.0,0.0176,31/12/2008,B3SA3
65,NA,2.69,NA,NA,NA,2.53,NA,40.42,688.87,NA,NA,NA,NA,NA,2.44,52450.0,50540.0,0.0176,30/09/2008,B3SA3
66,NA,2.67,NA,NA,NA,2.46,NA,33.22,-770.99,NA,NA,NA,NA,NA,2.35,52370.0,50070.0,0.0176,30/06/2008,B3SA3

In [8]:
codigos_ibovespa = ['ABEV3', 'AZUL4', 'B3SA3']

scraper = FluxoCaixaDataScraper(setor_financeiro, options, acoes=codigos_ibovespa, diretorio='../dados/dre.csv')

dados = scraper.rodar_acoes()

dados

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação ABEV3: 2.14 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação AZUL4: 1.43 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação B3SA3: 2.46 minutos

,fluxo_caixa_operacional,fluxo_caixa_investimentos,fluxo_caixa_financiamento,aumento_reducao_caixa_equivalentes,datas,tic
0,8110.00,-1130.00,-1090.00,5630.00,30/09/2024,ABEV3
1,3360.00,-1080.00,-1700.00,1310.00,30/06/2024,ABEV3
2,718.20,-1780.00,-2300.00,-3210.00,31/03/2024,ABEV3
3,13950.00,-2260.00,-11990.00,-1350.00,31/12/2023,ABEV3
4,7920.00,-1210.00,-1400.00,5400.00,30/09/2023,ABEV3
...,...,...,...,...,...,...
50,220.63,6.24,-257.18,-30.32,31/03/2012,B3SA3
51,264.29,-85.92,-253.19,-74.83,31/12/2011,B3SA3
52,594.91,-33.02,-447.52,114.38,30/09/2011,B3SA3
53,531.92,-36.01,-506.23,-10.32,30/06/2011,B3SA3
54,293.20,-21.57,-340.23,-68.60,31/03/2011,B3SA3

In [9]:
codigos_ibovespa = ['ABEV3', 'AZUL4', 'B3SA3']

scraper = SetorDataScraper(setor_financeiro, options, acoes=codigos_ibovespa)

dados = scraper.rodar_acoes()

dados

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação ABEV3: 0.06 minutos

Exception managing chrome: Unable to discover proper chromedriver version in offline mode

Tempo de execução da ação AZUL4: 0.06 minutos
Tempo de execução da ação B3SA3: 0.06 minutos

,Segmento de Listagem,Setor,Segmento,tic
0,Tradicional - BOVESPA,Consumo não Cíclico,Cervejas e Refrigerantes,ABEV3
1,Nível 2 de Governança Corporativa,Bens Industriais,Transporte Aéreo,AZUL4
2,Novo Mercado,Financeiro,Serviços Financeiros Diversos,B3SA3

In [10]:
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC



for da in data:

    print(da)

    time.sleep(0.5)

    select_element = navegador.find_element(
                    By.XPATH,
                    '//*[@id="tabela_resumo_empresa_fc_3meses"]/thead/tr/th[2]/select',
                )
    select = Select(select_element)

    time.sleep(0.5)

    select.select_by_visible_text(da)

    time.sleep(0.5)

    tabela = navegador.find_element(
        By.ID, "tabela_resumo_empresa_fc_3meses"
        )
    
    time.sleep(0.5)

    linhas = tabela.find_elements(By.TAG_NAME, "tr")

    lista_resumo_balanco = []
    for linha in linhas:
        celulas = linha.find_elements(By.TAG_NAME, "td")
        for celula in celulas:
            lista_resumo_balanco.append(celula.text)
    print(lista_resumo_balanco)

30/09/2024

['Fluxo de Caixa Operacional', '- R$ 6,28 B', 'Fluxo de Caixa de Investimentos', 'R$ 8,50 B', 'Fluxo de Caixa de Financiamentos', '- R$ 4,05 B', 'Aumento (Redução) de Caixa e Equivalentes', '- R$ 1,93 B', 'Atualizado 31/10/2024']
30/06/2024
['Fluxo de Caixa Operacional', 'R$ 28,57 B', 'Fluxo de Caixa de Investimentos', '- R$ 6,58 B', 'Fluxo de Caixa de Financiamentos', '- R$ 13,28 B', 'Aumento (Redução) de Caixa e Equivalentes', 'R$ 8,79 B', 'Atualizado 05/08/2024']
31/03/2024
['Fluxo de Caixa Operacional', 'R$ 17,68 B', 'Fluxo de Caixa de Investimentos', 'R$ 2,78 B', 'Fluxo de Caixa de Financiamentos', '- R$ 1,06 B', 'Aumento (Redução) de Caixa e Equivalentes', 'R$ 19,22 B', 'Atualizado 02/05/2024']
31/12/2023
['Fluxo de Caixa Operacional', '- R$ 81,01 B', 'Fluxo de Caixa de Investimentos', 'R$ 7,16 B', 'Fluxo de Caixa de Financiamentos', 'R$ 8,76 B', 'Aumento (Redução) de Caixa e Equivalentes', '- R$ 65,01 B', 'Atualizado 07/02/2024']
30/09/2023
['Fluxo de Caixa Operacional', 'R$ 79,57 B', 'Fluxo de Caixa de Investimentos', 'R$ 9,87 B', 'Fluxo de Caixa de Financiamentos', '- R$ 10,62 B', 'Aumento (Redução) de Caixa e Equivalentes', 'R$ 78,88 B', 'Atualizado 09/11/2023']
30/06/2023
['Fluxo de Caixa Operacional', '- R$ 19,74 B', 'Fluxo de Caixa de Investimentos', 'R$ 15,05 B', 'Fluxo de Caixa de Financiamentos', '- R$ 10,25 B', 'Aumento (Redução) de Caixa e Equivalentes', '- R$ 15,03 B', 'Atualizado 03/08/2023']
31/03/2023
['Fluxo de Caixa Operacional', 'R$ 21,00 B', 'Fluxo de Caixa de Investimentos', 'R$ 51,52 B', 'Fluxo de Caixa de Financiamentos', '- R$ 10,96 B', 'Aumento (Redução) de Caixa e Equivalentes', 'R$ 61,76 B', 'Atualizado 04/05/2023']
31/12/2022
['Fluxo de Caixa Operacional', '- R$ 32,52 B', 'Fluxo de Caixa de Investimentos', 'R$ 3,86 B', 'Fluxo de Caixa de Financiamentos', '- R$ 1,86 B', 'Aumento (Redução) de Caixa e Equivalentes', '- R$ 30,35 B', 'Atualizado 09/02/2023']
30/09/2022
['Fluxo de Caixa Operacional', 'R$ 43,65 B', 'Fluxo de Caixa de Investimentos', '- R$ 10,72 B', 'Fluxo de Caixa de Financiamentos', 'R$ 13,45 B', 'Aumento (Redução) de Caixa e Equivalentes', 'R$ 46,42 B', 'Atualizado 08/11/2022']
30/06/2022
['Fluxo de Caixa Operacional', 'R$ 562,20 M', 'Fluxo de Caixa de Investimentos', '- R$ 17,66 B', 'Fluxo de Caixa de Financiamentos', 'R$ 6,29 B', 'Aumento (Redução) de Caixa e Equivalentes', '- R$ 10,66 B', 'Atualizado 04/08/2022']
31/03/2022
['Fluxo de Caixa Operacional', 'R$ 30,07 B', 'Fluxo de Caixa de Investimentos', 'R$ 6,75 B', 'Fluxo de Caixa de Financiamentos', 'R$ 4,04 B', 'Aumento (Redução) de Caixa e Equivalentes', 'R$ 41,38 B', 'Atualizado 05/05/2022']
31/12/2021
['Fluxo de Caixa Operacional', 'NA', 'Fluxo de Caixa de Investimentos', 'NA', 'Fluxo de Caixa de Financiamentos', 'NA', 'Aumento (Redução) de Caixa e Equivalentes', 'NA', 'Atualizado 17/03/2022']
30/09/2021
['Fluxo de Caixa Operacional', '- R$ 3,71 B', 'Fluxo de Caixa de Investimentos', '- R$ 11,72 B', 'Fluxo de Caixa de Financiamentos', 'R$ 7,43 B', 'Aumento (Redução) de Caixa e Equivalentes', '- R$ 7,81 B', 'Atualizado 04/11/2021']
30/06/2021
['Fluxo de Caixa Operacional', '- R$ 13,83 B', 'Fluxo de Caixa de Investimentos', '- R$ 5,44 B', 'Fluxo de Caixa de Financiamentos', '- R$ 5,33 B', 'Aumento (Redução) de Caixa e Equivalentes', '- R$ 25,53 B', 'Atualizado 03/08/2021']
31/03/2021
['Fluxo de Caixa Operacional', '- R$ 12,17 B', 'Fluxo de Caixa de Investimentos', '- R$ 32,77 B', 'Fluxo de Caixa de Financiamentos', '- R$ 20,29 B', 'Aumento (Redução) de Caixa e Equivalentes', '- R$ 64,49 B', 'Atualizado 04/05/2021']
31/12/2020
['Fluxo de Caixa Operacional', 'R$ 177,88 B', 'Fluxo de Caixa de Investimentos', 'R$ 77,13 B', 'Fluxo de Caixa de Financiamentos', '- R$ 112,30 B', 'Aumento (Redução) de Caixa e Equivalentes', 'R$ 145,17 B', 'Atualizado 09/03/2021']
30/09/2020
['Fluxo de Caixa Operacional', 'R$ 52,79 B', 'Fluxo de Caixa de Investimentos', 'R$ 17,18 B', 'Fluxo de Caixa de Financiamentos', '- R$ 11,14 B', 'Aumento (Redução) de Caixa e Equivalentes', 'R$ 56,88 B', 'Atualizado 28/10/2020']
30/06/2020
['Fluxo de Caixa Operacional', 'R$ 54,83 B', 'Fluxo de Caixa de Investimentos', 'R$ 8,13 B', 'Fluxo de Caixa de Financiamentos', '- R$ 4,50 B', 'Aumento (Redução) de Caixa e Equivalentes', 'R$ 58,77 B', 'Atualizado 30/07/2020']
31/03/2020
['Fluxo de Caixa Operacional', 'R$ 40,37 B', 'Fluxo de Caixa de Investimentos', '- R$ 5,46 B', 'Fluxo de Caixa de Financiamentos', 'R$ 5,29 B', 'Aumento (Redução) de Caixa e Equivalentes', 'R$ 41,83 B', 'Atualizado 30/04/2020']
31/12/2019
['Fluxo de Caixa Operacional', 'R$ 16,00 B', 'Fluxo de Caixa de Investimentos', 'R$ 41,34 B', 'Fluxo de Caixa de Financiamentos', '- R$ 90,21 B', 'Aumento (Redução) de Caixa e Equivalentes', '- R$ 32,87 B', 'Atualizado 06/03/2020']
30/09/2019
['Fluxo de Caixa Operacional', '- R$ 30,00 B', 'Fluxo de Caixa de Investimentos', '- R$ 10,20 B', 'Fluxo de Caixa de Financiamentos', '- R$ 7,93 B', 'Aumento (Redução) de Caixa e Equivalentes', '- R$ 47,73 B', 'Atualizado 31/10/2019']
30/06/2019
['Fluxo de Caixa Operacional', 'R$ 6,10 B', 'Fluxo de Caixa de Investimentos', '- R$ 2,80 B', 'Fluxo de Caixa de Financiamentos', 'R$ 3,31 B', 'Aumento (Redução) de Caixa e Equivalentes', 'R$ 6,70 B', 'Atualizado 25/07/2019']
31/03/2019
['Fluxo de Caixa Operacional', '- R$ 13,27 B', 'Fluxo de Caixa de Investimentos', 'R$ 17,90 B', 'Fluxo de Caixa de Financiamentos', 'R$ 1,27 B', 'Aumento (Redução) de Caixa e Equivalentes', 'R$ 6,12 B', 'Atualizado 25/04/2019']
31/12/2018
['Fluxo de Caixa Operacional', 'R$ 28,95 B', 'Fluxo de Caixa de Investimentos', 'R$ 22,19 B', 'Fluxo de Caixa de Financiamentos', '- R$ 81,49 B', 'Aumento (Redução) de Caixa e Equivalentes', '- R$ 30,35 B', 'Atualizado 08/03/2019']
30/09/2018
['Fluxo de Caixa Operacional', 'R$ 20,88 B', 'Fluxo de Caixa de Investimentos', '- R$ 14,26 B', 'Fluxo de Caixa de Financiamentos', '- R$ 2,57 B', 'Aumento (Redução) de Caixa e Equivalentes', 'R$ 4,35 B', 'Atualizado 01/11/2018']
30/06/2018
['Fluxo de Caixa Operacional', '- R$ 21,13 B', 'Fluxo de Caixa de Investimentos', '- R$ 20,06 B', 'Fluxo de Caixa de Financiamentos', 'R$ 936,70 M', 'Aumento (Redução) de Caixa e Equivalentes', '- R$ 40,17 B', 'Atualizado 26/07/2018']
31/03/2018
['Fluxo de Caixa Operacional', 'R$ 11,11 B', 'Fluxo de Caixa de Investimentos', '- R$ 17,89 B', 'Fluxo de Caixa de Financiamentos', '- R$ 2,79 B', 'Aumento (Redução) de Caixa e Equivalentes', '- R$ 9,34 B', 'Atualizado 26/04/2018']
31/12/2017
['Fluxo de Caixa Operacional', 'R$ 71,00 B', 'Fluxo de Caixa de Investimentos', 'R$ 38,44 B', 'Fluxo de Caixa de Financiamentos', '- R$ 119,20 B', 'Aumento (Redução) de Caixa e Equivalentes', '- R$ 9,76 B', 'Atualizado 08/03/2018']
30/09/2017
['Fluxo de Caixa Operacional', 'R$ 30,39 B', 'Fluxo de Caixa de Investimentos', '- R$ 22,99 B', 'Fluxo de Caixa de Financiamentos', '- R$ 4,53 B', 'Aumento (Redução) de Caixa e Equivalentes', 'R$ 2,84 B', 'Atualizado 01/11/2017']
30/06/2017
['Fluxo de Caixa Operacional', '- R$ 2,92 B', 'Fluxo de Caixa de Investimentos', '- R$ 9,25 B', 'Fluxo de Caixa de Financiamentos', 'R$ 2,56 B', 'Aumento (Redução) de Caixa e Equivalentes', '- R$ 8,91 B', 'Atualizado 27/07/2017']
31/03/2017

KeyboardInterrupt:

In [41]:
select.select_by_visible_text(data[1])

In [42]:
tabela = navegador.find_element(
        By.ID, "tabela_resumo_empresa_fc_3meses"
        )

In [43]:
tabela

In [44]:
linhas = tabela.find_elements(By.TAG_NAME, "tr")

In [45]:
lista_resumo_balanco = []
for linha in linhas:
    celulas = linha.find_elements(By.TAG_NAME, "td")
    for celula in celulas:
        lista_resumo_balanco.append(celula.text)

In [46]:
lista_resumo_balanco

['Fluxo de Caixa Operacional',
 'R$ 3,36 B',
 'Fluxo de Caixa de Investimentos',
 '- R$ 1,08 B',
 'Fluxo de Caixa de Financiamentos',
 '- R$ 1,70 B',
 'Aumento (Redução) de Caixa e Equivalentes',
 'R$ 1,31 B',
 'Atualizado 01/08/2024']